table {
    thead {
        tr {
            th {
                text-align: center;
            }
        }
    }
}

//transfer.blade.php
.card-body {
    tbody {
        td {
            text-align: center;

            img {
                width: 100px;
                height: 100px;
            }
        }
    }
}
