body {
  background-color: #ffffff;
  font-family: "mukta", sans-serif;
  background-position: center;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #9e9e9e;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #821e1e;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0;
}

.btn-login {
  background-color: #ffffff;
  color: #821e1e;
}

.btn-login:hover {
  background-color: #ba3434;
  color: #fff;
}

.container-profile {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 100px;
}

.container-profile .profile-box {
  max-width: 1000px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.container-profile .left {
  padding: 25px 40px;
}

.container-profile .right {
  padding: 25px 40px;
}

.container-profile .title {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  position: relative;
}

.container-profile .title::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background: linear-gradient(135deg, #821e1e, #ba3434);
}

.container-profile .img {
  text-align: center;
  margin-top: 10px;
}

form .user-details {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 300px;
  outline: none;
  margin-left: 20px;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #ba3434;
}

form .button {
  height: 45px;
  margin: 35px 0;
  margin-left: 20px;
  text-align: center;
}

form .button input {
  height: 100%;
  width: 300px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #ba3434, #821e1e);
}

form .button input:hover {
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #821e1e, #ba3434);
}

input[type="file"] {
  display: none;
}

label {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #b3b3b3;
  padding: 4px;
  border-radius: 5px;
}

label:hover {
  background-color: #fff;
  border: 1px solid #ba3434;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section-footer h5,
.section-footer a {
  color: #282569;
}
/*# sourceMappingURL=profile.css.map */