body {
    background-color: #ffffff;
    font-family: "mukta", sans-serif;

}

//navbar
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #9e9e9e;

            &.active {
                font-weight: bold;
                color: #821e1e;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;

    height: 70px;
    border-radius: 0;
}

.btn-login {
    background-color: #ffffff;
    color: #821e1e;

    &:hover {
        background-color: #ba3434;
        color: #fff;
    }
}

//reservation header
#reservation .header-reservation {
    background: #fff;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

#reservation .container-reservation {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#reservation .header-reservation .header-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}

#reservation .header-reservation .header-title h4 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    position: relative;
}

#reservation .header-reservation .header-title h4::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background: linear-gradient(135deg, #821e1e, #ba3434);
}

#reservation .header-reservation .header-menu {
    text-align: center;
    padding-top: 5px;
    height: 80px;
    color: black;
}

.nav-tabs {
    border-bottom: 1px solid #cecece;
}

#reservation .header-reservation .header-menu ul .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 200px;
    list-style: none;
}

#reservation .header-reservation .header-menu .nav .nav-tabs {
    border: 0;
}

#reservation .header-reservation .header-menu .nav-tabs li a::before {
    content: "";
    margin-top: 11px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 0%;
    border-radius: 2px;
    background: linear-gradient(135deg, #821e1e, #ba3434);
    transition-property: all;
    transition-duration: 350ms;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

#reservation .header-reservation .header-menu .nav-tabs li a {
    color: black;
    font-size: medium;
    font-style: bold;
    text-decoration: none;
    padding-bottom: 20px;
}

#reservation .header-reservation .header-menu .nav-tabs li a:hover::before {
    width: 110%;
}

#reservation .content-reservation {
    padding-top: 20px;
    padding-bottom: 50px;
    background: linear-gradient(#fff 0%, #bfcbeb);
    min-height: 70vh;
}

.card-data {
    width: 100%;
    height: 80px;
    max-width: 90rem;
    padding: 6.5rem;
    display: flex;
    background-color: linear-gradient(#fff 0%, #bfcbeb);
    ;
    align-items: center;
    border-radius: .5rem;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.card-data__img {
    width: 300px;
    max-width: 20rem;
    height: 140px;
    transform: translateX(-6.5rem);
    position: relative;
}

.card-data__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .5rem;

}

.card-data__img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(218, 249, 255, 0.74),
            rgba(1, 191, 201, 0.5));
    box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, .05);
    border-radius: .5rem;
}

.card-data__date span {
    display: block;
    color: rgba(0, 0, 0, .5);
    font-size: 1rem;
    font-weight: 500;
    margin: .5rem 0;
}

.card-data__text {
    font-size: 1.5rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #ba3434;

}

.card-data__status {
    color: rgba(0, 0, 0, .7);
}

.card-data__detail {
    display: inline-block;
    padding: 1.5rem, 3rem;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: small;
    color: #fff;
    text-decoration: none;
    border-radius: .5px;
    background: linear-gradient(#282569, #524db8);
}

.card-data__detail:hover {
    background: linear-gradient(#524db8, #282569);
}

@media screen and (max-width: 768px) {
    .card-data {
        max-width: 90rem;
        flex-direction: column;
    }

    .card-data__img {
        max-width: 20rem;
    }

}




//footer
.section-footer {

    h5,
    a {
        color: #282569;
    }
}
