body {
  background-color: #ffffff;
  font-family: "mukta", sans-serif;
  background-position: center;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #9e9e9e;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #821e1e;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0;
}

.btn-login {
  background-color: #ffffff;
  color: #821e1e;
}

.btn-login:hover {
  background-color: #ba3434;
  color: #fff;
}

.container-about {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 100px;
}

.container-about .about-box {
  max-width: 700px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.container-about article h2 {
  position: relative;
  color: black;
  margin-top: 50px;
  margin-bottom: 20px;
}

.container-about h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #ba3434;
}

.container-about article p {
  color: #545252;
  font-size: medium;
  padding: 0 10px;
  text-align: center;
}

.container-about .username {
  color: black;
  font-size: large;
  margin-top: 30px;
  padding: 0 10px;
  text-align: center;
}

.container-about img {
  width: 100px;
  height: 100px;
  background-size: cover;
  position: absolute;
  margin: auto;
  border-radius: 50px;
  top: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container-about .btn-Post {
  width: 85%;
  padding: 0.5rem 1rem;
  background-color: #821e1e;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 30px 0;
}

.container-about .btn-Post:hover {
  background-color: #ba3434;
  color: #fff;
}

.container-about .tekstesti {
  width: 85%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.0rem;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container-about .tekstesti:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.container-about textarea {
  min-height: 150px;
}

.container-about .section-footer h5,
.container-about .section-footer a {
  color: #282569;
}
/*# sourceMappingURL=Testimonial.css.map */